.signup-subtitle {
  color: #6f6f6f;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  font-weight: 500;
  margin: 35px 0px;
}

.footer-warley-description {
  width: 300px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  color: #a4a4a4;
}
